@import url("bootstrap/bootstrap.min.css");
@import url("https://use.typekit.net/whj2hjh.css");
//Responsive
@mixin breakpoint($class) {
  @if $class==xs {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $class==sm {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $class==md {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $class==lg {
    @media (min-width: 1200px) {
      @content;
    }
  } @else {
    // @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin box-shadow($top, $left, $blur, $color, $inset: "") {
  -webkit-box-shadow: $top $left $blur $color #{$inset};
  -moz-box-shadow: $top $left $blur $color #{$inset};
  box-shadow: $top $left $blur $color #{$inset};
}

// ===========
// //variables
// ===========

//color
$darkHeading: #2a363d;
$darkBody: #526c79;
$blueLink: #5c94fe;
$proximanova: "Proxima Nova", Georgia, sans-serif;
$proximanovabold: "proxima_nova_altbold", Georgia, sans-serif;
$opensans: "Open Sans", sans-serif;

body {
  font-family: $opensans;
  background: #fdfaf9;
}

h1,
h2,
h3,
h4,
h5 {
  color: $darkHeading;
  font-family: "Cormorant", serif;
  font-weight: 700;
  font-family: "Cormorant", serif;
}

strong {
  font-weight: bold !important;
}

p,
a,
li {
  font-size: 18px;
  line-height: 26px;
  color: $darkBody;
  font-family: "Cormorant", serif;
}

.wp-block-image {
  img {
    height: auto !important;
  }
}

.wp-block-buttons {
  text-align: center;
  margin: 50px 0;
  .wp-block-button__link {
    color: white;
    text-decoration: none;
  }
}

@import "headerfooter";

body {
  max-width: 100%;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.cls-1 {
  opacity: 1 !important;
}

.emoji {
  font-size: 24px !important;
}
//button
.btn {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.btn-primary {
  border: 0;
  height: 38px;
  background: #f2ddd7;
  color: #835858 !important;
  font-weight: bold;
  text-transform: capitalize;
  font-family: "Cormorant", serif;
  font-size: 20px !important;
}

.btn-primary:hover {
  color: #f2ddd7 !important;
  background: #835858;
}

.btn-primary:active {
  background: linear-gradient(315deg, #fdbb4a 0%, #ed4462 100%) !important;
}

.btn-secondary {
  border: 0;
  background: $blueLink;
  height: 38px;
  transition: box-shadow, 0.4s;
}

button.btn-secondary:hover {
  background: $blueLink;
}

a.btn-secondary:hover,
a.btn-secondary:active {
  background: $blueLink !important;
  box-shadow: 0 0 20px 0 rgba(92, 148, 254, 0.29);
}

//form inline optin
.form-inline,
.formStarted {
  input[type="email"] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: $darkHeading;
  }
  .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.formStarted {
  display: flex;
}

.container {
  max-width: 981px;
}

//animatetions
.moveLeft {
  margin-left: -400px !important;
  opacity: 0;
}

.moveLeft {
  transition: all, 1s;
}

//validation
.redError {
  border-color: red;
}

//custom
.wp-block-image {
  clear: both;
}

.comments img {
  display: none;
}

.comment-form-comment label {
  display: block;
}

.comment-form-comment textarea {
  border-radius: 5px;
  width: 100%;
  border-color: #b8b8b8;
  padding: 15px;
}

.comments .vcard .fn a {
  color: black;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  pointer-events: none;
  cursor: default;
}

.commentmetadata a {
  text-decoration: none;
  font-size: 12px !important;
  color: black;
  pointer-events: none;
  cursor: default;
}

.comments > ul > li.comment {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;
}

/*suscribe form*/

.subscribeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  .gfield_label {
    display: none !important;
  }
  .gform_body {
    width: 100%;
    .gform_fields {
      padding: 0 !important;
      margin: 0 !important;
      list-style: none;
      li {
        padding: 0 !important;
        margin: 0 !important;
        .ginput_container {
          margin: 0 !important;
        }
        input,
        select {
          width: 100%;
          height: 38px;
          border-radius: 0.25rem;
          border: 1px solid #ced4da;
          padding-left: 5px;
          margin-bottom: 10px;
        }
      }
      li.gfield_error input {
        border-left-color: red;
        border-top-color: red;
        border-bottom-color: red;
      }
    }
  }
  .gform_footer {
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    .gform_button {
      border: 0;
      width: 100% !important;
      display: inline-block;
      margin: 0 !important;
      height: 38px;
      padding: 0;
      border-radius: 0.25rem;

      background: #f2ddd7;
      color: #835858;
      font-weight: bold;
      text-transform: capitalize;
      font-family: "Cormorant", serif;
      font-size: 20px !important;
      &:hover {
        color: #f2ddd7;
        background: #835858;
      }
    }
  }
  .validation_error {
    display: none;
  }
  .gfield_error {
    border: 0;
    padding: 0 !important;
    margin: 0 !important;
    max-width: initial !important;
    background: none;
  }
}

#validation_message_1_2 {
  display: none !important;
}

.gform_confirmation_wrapper {
  text-align: center;
}

.gform_confirmation_message {
  margin: auto;
}

.gform_ajax_spinner {
  display: none !important;
}

.blog {
  #gform_1 {
    margin: auto;
  }
}
