/*
	Theme Name: Kicsta Blog Opt
	Theme URI: http://blog.kicksta.io
	Description: Kicksta
	Version: 1.1
	Author: Jean Fondeur 
	Author URI: https://jeanfondeur.com
	Tags: Blank, HTML5, CSS3, SCSS, BOOTSTRAP

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/

@import "global";
// ================
// //Blog
// ================
body.home {
  background: #fdfaf9;
  .homeTitle {
    color: #835858;
  }
}

//search
#searchFormContainer {
  input[type="search"] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 180px;
    @include breakpoint(md) {
      width: calc(387px - 120px);
    }
  }
  .btn {
    line-height: 26px !important;
    font-family: "Cormorant", serif;
    font-size: 20px !important;
    font-weight: 500;
    background: #f2ddd7;
    color: #835858 !important;
    font-weight: bold;
    text-transform: capitalize;
    border-color: #f2ddd7;
    &:hover {
      color: #f2ddd7 !important;
      background: #835858;
    }
  }
}

.loop-pagination {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  a {
    color: white;
    background: linear-gradient(315deg, #fdbb4a 0%, #ed4462 100%);
    padding: 10px 20px;
    border-radius: 10px;
  }
}

.blogList {
  width: initial;
  max-width: initial;
  .blogContainer {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 360px;
    a {
      text-decoration: none;
    }
    @include breakpoint(md) {
      flex-direction: row;
      width: 100%;
      max-width: 1280px;
      margin: 30px auto 0;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .blog {
      margin-bottom: 30px;
      @include breakpoint(lg) {
        margin-bottom: 60px;
      }
    }
    .blog.feature {
      display: flex;
      width: 360px;
      height: 502px;
      max-height: 502px;
      background: white;
      border-radius: 16px;
      margin-right: 30px;
      margin-top: 30px;
      flex-direction: column;
      @include breakpoint(lg) {
        flex-direction: row;
        width: 100%;
        max-width: 803px;
        height: 400px;
        margin-top: 0;
      }
      .blogImg {
        overflow: hidden;
        height: 200px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        @include breakpoint(lg) {
          width: 350px;
          height: 400px;
          border-top-left-radius: 16px;
          border-bottom-left-radius: 16px;
          border-top-right-radius: 0;
        }
        img {
          @include breakpoint(lg) {
            max-width: initial;
          }
        }
      }
      .blogBody {
        padding: 19px 31px 28px;
        @include breakpoint(lg) {
          width: 453px;
          padding: 40px;
          display: flex;
          flex-direction: column;
        }
        h3 {
          margin-bottom: 20px;
          font-size: 24px !important;
          color: #835858;
          @include breakpoint(lg) {
            font-size: 28px !important;
          }
        }
      }
    }
    .blog.third {
      background: white;
      border-radius: 16px;
      height: 502px;
      max-height: 502px;
      @include box-shadow(0px, 8px, 12px, -2px, rgba(0, 0, 0, 0.12));
      width: 100%;
      @include breakpoint(md) {
        width: 387px;
      }
      .blogImg {
        height: 200px;
        overflow: hidden;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
      }
      .blogBody {
        padding: 19px 31px 28px;
        display: flex;
        flex-direction: column;
        height: 302px;
        h4 {
          margin-bottom: 20px;
          font-size: 24px !important;
          color: #835858;
        }
        h3 {
          font-size: 1.5rem;
          color: #835858;
        }
        p {
        }
      }
    }
    .blog.optin {
      .form-control {
        width: 62%;
      }
    }
    // .blog.third:not(:last-child) {
    //     margin-right: 30px;
    // }
    .blogAction {
      margin-top: auto;
      display: flex;
      justify-content: space-between;
      ul.socialSharePostList {
        height: 26px;
        margin: 0;
      }
      a {
        color: #835858;
        img {
          margin-right: 10px;
          margin-top: -7px;
        }
      }
    }
    .cat-list {
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
      li {
        width: 100%;
        margin-bottom: 20px;
        border-left: 6px solid #835858;
        @include breakpoint(md) {
          width: 30%;
        }
        a {
          background: white;
          padding: 20px;
          border-radius: 6px;
          width: 100%;
          display: inline-block;
          @include box-shadow(0px, 8px, 12px, -2px, rgba(0, 0, 0, 0.12));
          font-weight: bold;
        }
        // &:first-child{
        //     display: none;
        // }
        // &:last-child{
        //     display: none;
        // }
        // &:nth-child(even){
        //     border-left: 7px solid #ef3f61;
        // }
        // &:nth-child(odd){
        //     border-left: 7px solid #4ed687;
        // }
        // &:nth-child(1) {
        //   border-color: #ef3f61;
        // }
        // &:nth-child(2) {
        //   border-color: #5c94fe;
        // }
        // &:nth-child(3) {
        //   border-color: #4ed687;
        // }
        // &:nth-child(4) {
        //   border-color: #fec149;
        // }
        // &:nth-child(5) {
        //   border-color: #ef3f61;
        // }
        // &:nth-child(6) {
        //   border-color: #5c94fe;
        // }
        // &:nth-child(7) {
        //   border-color: #4ed687;
        // }
        // &:nth-child(8) {
        //   border-color: #fec149;
        // }
        // &:nth-child(9) {
        //   border-color: #ef3f61;
        // }
      }
    }
  }
}

body.single {
  // background: white;
  article {
    .single-meta-cta {
      @include breakpoint(md) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      margin-bottom: 36px;
      .author-meta-box {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        @include breakpoint(md) {
          width: 50%;
        }
        .author-info {
          padding-left: 15px;
        }
      }
      .single-cta {
        @include breakpoint(md) {
          width: 45%;
        }
        a {
          line-height: 26px !important;
          font-family: "Cormorant", serif;
          font-size: 19px !important;
          font-weight: 500;
          background: #f2ddd7;
          color: #835858;
          font-weight: bold;
          text-transform: capitalize;
          &:hover {
            color: #f2ddd7;
            background: #835858;
          }
        }
        h5 {
          margin-top: 0 !important;
          color: #835858;
          font-family: "Cormorant", serif;
        }
      }
    }
    .postMeta {
      padding-bottom: 30px;
      a {
        color: white;
        height: initial !important;
      }
      h5 {
        margin-top: 0;
      }
    }
    img {
      border-radius: 16px;
      height: auto;
    }
    .wp-block-image {
      img {
        padding: 30px 0;
      }
    }
    a {
      color: $blueLink;
    }
    img.aligncenter {
      margin: auto !important;
      display: block !important;
    }
    .wp-block-quote {
      border-width: 7px;
      border-style: solid;
      -webkit-border-image: -webkit-gradient(
          linear,
          0 0,
          0 100%,
          from(#fdbb4a),
          to(#ed4462)
        )
        1 100%;
      -webkit-border-image: -webkit-linear-gradient(#fdbb4a, #ed4462) 1 100%;
      -moz-border-image: -moz-linear-gradient(#fdbb4a, #ed4462) 1 100%;
      -o-border-image: -o-linear-gradient(#fdbb4a, #ed4462) 1 100%;
      border-image: linear-gradient(to bottom, #fdbb4a, #ed4462) 1 100%;
      border-right: 0;
      padding-left: 15px;
      p {
        font-style: italic;
      }
    }
    .order-cta {
      max-width: 70%;
      padding: 5%;
      margin: auto;
      text-align: center;
      max-width: initial;
      display: flex;
      flex-wrap: wrap;
      text-align: left;
      align-items: center;
      background: white;
      border-radius: 10px;
      background: rgba(242, 221, 215, 0.25);
      @include breakpoint(md) {
        padding-left: 80px;
      }
      div {
        &:first-child {
          width: 18%;
          img {
            max-width: 80px;
          }
        }
        &:last-child {
          width: 82%;
        }
      }
      h5 {
        font-family: "Cormorant", serif;
        font-weight: bold;
        font-size: 28px;
        margin-top: 18px;
        margin-bottom: 10px;
      }
      p {
        margin-bottom: 10px;
      }
    }
  }
  .blogList {
    width: 90vw;
    margin: auto;
  }
}

.caseStudies {
  padding-bottom: 134px;
  background: linear-gradient(0deg, #ffffff 0%, #f6faff 100%);
  .casesIntro {
    margin-top: 60px;
    p {
      font-size: 12px;
      margin-bottom: 20px;
    }
    h2 {
      font-size: 33px;
      @include breakpoint(lg) {
        font-size: 38px;
      }
      margin-bottom: 99px;
    }
  }
  .cases {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    flex-direction: column;
    @include breakpoint(lg) {
      flex-direction: row;
    }
    .caseImg {
      // width: 375px;
      @include breakpoint(lg) {
        width: 720px;
      }
      img {
        border-top-right-radius: 16px;
        border-top-left-radius: 16px;
        @include breakpoint(lg) {
          border-radius: 16px;
        }
      }
    }
    .caseDetails {
      width: 375px;
      padding: 20px;
      @include breakpoint(lg) {
        width: 449px;
        height: 400px;
        padding: 40px 30px;
        border-radius: 16px;
        margin-left: -190px;
      }
      background: white;
      box-shadow: 0 5px 15px 0 rgba(47, 49, 58, 0.1);
      display: flex;
      flex-direction: column;
      h3 {
        font-size: 24px;
        margin-bottom: 20px;
        @include breakpoint(lg) {
          font-size: 28px;
        }
      }
      p {
      }
      .caseAction {
        display: flex;
        justify-content: space-between;
        margin-top: auto;
        a {
          color: $blueLink;
          img {
            margin-right: 10px;
            margin-top: -7px;
          }
        }
      }
    }
  }
  .caseRight {
    @include breakpoint(lg) {
      flex-direction: row-reverse;
    }
    .caseDetails {
      @include breakpoint(lg) {
        margin-left: 0;
        margin-right: -190px;
      }
    }
  }
}

.ctaJoin {
  margin-top: 100px;
  .ctaRow {
    width: 305px;
    @include breakpoint(md) {
      width: 375px;
    }
    margin: auto;
    @include breakpoint(lg) {
      width: 505px;
      text-align: center;
    }
    ul {
      margin-bottom: 14px;
    }
    h2 {
      font-size: 24px;
      margin-bottom: 18px;
    }
    p {
      margin-bottom: 34px;
    }
    form {
      @include breakpoint(lg) {
        width: 337px;
        margin: auto;
      }
    }
  }
}

// CaseSingle
.caseSingleBody,
.blogPostBody {
  background: linear-gradient(0deg, #ffffff 0%, #f6faff 100%);
}

.caseSingle {
  width: 90vw;
  @include breakpoint(lg) {
    width: 720px;
  }
  margin: auto;
  padding: 25px 0 151px;
  .caseDate {
    margin-bottom: 0;
    // font-size: 14px;
    color: #526c79;
  }
  a:not(.btn) {
    font-size: 20px;
    line-height: 32px;
  }
  h1 {
    font-size: 33px;
    @include breakpoint(lg) {
      font-size: 38px;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: bold !important;
    margin-bottom: 1.5rem;
    margin-top: 2.5rem;
    color: #835858;
    a {
      font-size: inherit !important;
      line-height: inherit !important;
    }
  }
  .caseImg {
    // width: 375px;
    margin: 36px 0;
    @include breakpoint(lg) {
      width: 720px;
    }
    img {
      // border-top-right-radius: 16px;
      // border-top-left-radius: 16px;
      // @include breakpoint(lg){
      //     border-radius: 16px;
      // }
      border-radius: 16px;
      padding: 0;
      width: 100%;
    }
  }
  .halfImg {
    display: flex;
    flex-direction: column;
    @include breakpoint(lg) {
      flex-direction: row;
      img:nth-child(1) {
        margin-right: 24px;
      }
    }
  }
  li {
    font-size: 20px;
    line-height: 32px;
    color: black;
  }
  p {
    line-height: normal;
    color: black;
    &:not([class]) {
      font-size: 20px;
      line-height: 32px;
    }
    a {
      font-size: inherit !important;
      line-height: inherit !important;
    }
  }

  .qoute {
    font-size: 24px !important;
    line-height: 32px !important;
    font-weight: 600;
    position: relative;
    padding: 30px 0;
    .oval {
      height: 182px;
      width: 100%;
      transform: rotate(4deg);
      background-color: #fff7fe;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      z-index: -1;
      border-radius: 100%;
    }
    .ovalBlue {
      background: #f6faff;
    }
  }
  .ctaJoin {
    background: #fff7fe;
    margin: 40px 0;
    padding: 40px 0;
    border-radius: 16px;
  }
  .ctaSubscribe {
    background: rgba(242, 221, 215, 0.25);
  }
  .caseTestimonial {
    display: none;
    @include breakpoint(lg) {
      display: flex;
    }
    border-radius: 16px;
    align-items: center;
    box-shadow: 0 5px 15px 0 rgba(193, 202, 217, 0.47);
    img {
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;
    }
    div {
      padding: 20px 40px;
      .customerWords {
        font-size: 20px !important;
        font-weight: 600 !important;
      }
      a {
        color: $blueLink;
      }
    }
  }

  .wp-block-media-text.alignwide {
    margin: 60px 0;
    .wp-block-button__link {
      color: white !important;
    }
  }
}

.blogPagination {
  text-align: center;
}

//social bar
#dpsp-floating-sidebar {
  left: 5vw !important;
  top: 11vh !important;
  @include breakpoint(xs) {
    top: initial !important;
    left: 0 !important;
    bottom: 0 !important;
  }
  .dpsp-networks-btns-wrapper {
    @include breakpoint(xs) {
      display: flex;
    }
  }
}

//table of content
#ez-toc-container {
  width: 100%;
  background: white;
  border: 0;
  .ez-toc-title {
    font-size: 1.2rem !important;
    font-weight: bold !important;
  }
  .ez-toc-list {
    li {
      a {
        color: #5c94fe;
      }
    }
  }
}

//testimonials
.testimonial_rotator_wrap {
  margin: 50px 0;
  @include breakpoint(md) {
    margin: 100px 0;
  }
}

.homeTitle {
  color: #835858;
}

// Quizes page
.quizContainer {
  .blog.third {
    .blogImg {
      background: #835858;
    }
    height: 375px !important;
    .blogBody {
      height: 170px !important;
    }
  }
  .blog.third.optin {
    .blogBody {
      h4 {
        margin-bottom: 0;
      }
    }
  }
}

body.category-wedding-quizzes,
body.parent-category-wedding-quizzes {
  .blog.third {
    .blogImg {
      background: #835858;
    }
  }
  .blog.third.optin {
    .blogBody {
      h4 {
        // margin-bottom: 0;
      }
    }
  }
}
